demos/Lazarus/backup/
demos/Lazarus/lib/i386-win32/
*.lps
demos/Lazarus/teegrid_for_lazarus.exe
demos/VCL/TeeBI/Customer_Orders/Win32/
demos/VCL/TeeBI/Customer_Orders/__history/
*.local
*.identcache
*.~*
*.dcu
*.stat
*.exe
demos/VirtualData/TStringGrid/Win32/
demos/Lazarus/StringGrid/lib/
demos/Lazarus/DataSet/lib/
demos/VCL/Row_Heights/Win32/
demos/Firemonkey/TStringGrid/Win32/
demos/Firemonkey/Ticker/Win64/Debug/TeeGrid_FMX_Ticker.rsm
*.bak
demos/VCL/C++/Basic/Win32/
demos/VCL/Header_Footer/Win32/
demos/VirtualData/Array/Win32/
demos/VirtualData/TList/OSX32/
demos/VirtualData/TList/Win32/
demos/VirtualData/TStringGrid/Win64/
demos/VirtualData/Virtual Mode/Win64/
*.tmp
demos/Firemonkey/Row_SubTitles/Android/
demos/Firemonkey/Ticker/Android/
demos/Firemonkey/Row_SubTitles/iOSDevice32/
demos/Firemonkey/Ticker/iOSDevice32/
demos/VCL/C++/Basic/Win64/
demos/FMX/Row_SubTitles/iOSDevice32/
demos/Lazarus/Database/ClientDataSet/lib/
demos/FireMonkey/TStringGrid/iOSDevice64/
demos/FireMonkey/TStringGrid/Android/
demos/FireMonkey/Database/DataSet/Android/
demos/FireMonkey/Themes/Android/
demos/FireMonkey/Themes/iOSDevice32/
demos/FireMonkey/Themes/iOSDevice64/
*.o
demos/FireMonkey/Database/DataSet/Linux64/
demos/FMXLinux/Ticker/Linux64/
demos/FMXLinux/TStringGrid/Linux64/
src/

demos/FireMonkey/TeeGridFeatures/Win32/
*.rsm
demos/VirtualData/Custom Sorting/__recovery/
__recovery
