demos/Lazarus/backup/
demos/Lazarus/lib/i386-win32/
*.lps
demos/Lazarus/teegrid_for_lazarus.exe
demos/VCL/TeeBI/Customer_Orders/Win32/
demos/VCL/TeeBI/Customer_Orders/__history/
*.local
*.identcache
*.~*
*.dcu
*.stat
*.exe
